<div id="sidebar-collapse">
    <ul class="side-menu">
        <li routerLinkActive="active">
            <a routerLink="/index"><i class="sidebar-item-icon ti-home"></i>
                <span class="nav-label">Dashboards</span>
            </a>
        </li>

        <li routerLinkActive="active">
            <a href="javascript:;"><i class="sidebar-item-icon ti-package"></i>
                <span class="nav-label">Catálogos</span>
            </a>
            <div class="nav-2-level">
                <ul>
                    <li><a routerLink="/recipiente/list"     routerLinkActive="active">Recipientes</a></li>
                    <li><a routerLink="/muestra/list" routerLinkActive="active">Muestras</a></li>
                    <li><a routerLink="/depto/list"   routerLinkActive="active">Departamentos</a></li>    
                    <li><a routerLink="/paciente/list"   routerLinkActive="active">Pacientes</a></li>  
                    <li><a routerLink="/doc/list"   routerLinkActive="active">Doctores</a></li>  
                    <li><a routerLink="/prueba/list"   routerLinkActive="active">Pruebas</a></li> 
                    <li><a routerLink="/estudio/list"   routerLinkActive="active">Estudios</a></li>                  

                </ul>
            </div>
        </li>

        <li><a routerLink="/paciente/list" routerLinkActive="active">
            <i class="sidebar-item-icon ti-user">
            </i>
            <span class="nav-label">Paciente</span>
            </a>
        </li>

        <li><a routerLink="/solicitud/new" routerLinkActive="active">
            <i class="sidebar-item-icon ti-shopping-cart">
            </i>
            <span class="nav-label">Estudios                
            </span>
            </a>
        </li>  

        <li><a routerLink="/solicitud" routerLinkActive="active">
            <i class="sidebar-item-icon ti-support">
            </i>
            <span class="nav-label">Solicitudes                
            </span>
            </a>
        </li> 

        <li><a routerLink="/upresultado/list" routerLinkActive="active">
            <i class="sidebar-item-icon ti-cloud-up">
            </i>
            <span class="nav-label">Up Resultado                
            </span>
            </a>
        </li>

    </ul>
</div>
  
