<div class="page-heading">
        <h1 class="page-title">{{title}}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html"><i class="la la-home font-20"></i></a>
            </li>            
        </ol>
    </div>
    <div class="page-content fade-in-up" >
        <div class="ibox">
                <div class="ibox-body">
                        <form class="form-info" id="formsolicitud" [formGroup]="formsolicitud">
                            <div class="row">
                                <div class="col-sm-3 form-group mb-4">
                                    <label>Tipo</label>
                                    <select class="form-control form-control-air" name="tipoNom" placeholder="Tipo" formControlName="tipoNom">
                                        <option value="Personal" selected>Personal</option> 
                                        <option value="Empresa/Seguro">Empresa/Seguro</option>                                        
                                    </select>
                                </div>
                                <div class="col-sm-3 form-group mb-4">
                                    <label>Paciente</label>
                                    <select class="form-control" id="paciente" name="paciente" formControlName="paciente" (change)="onChange($event.target.value)" >  
                                        <option value="" disabled selected>Paciente</option>   
                                        <option class="text-blue" value="nuevo" >Agregar nuevo</option>                      
                                        <option *ngFor="let u of pacientelst" [ngValue]="u.Contacto">{{u.MKNombre}}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 form-group mb-4">
                                    <label>Corporativo</label>
                                    <select class="form-control" id="corporativo" name="corporativo" formControlName="corporativo" >  
                                        <option value="" disabled selected>Corporativo</option>                        
                                        <option *ngFor="let u of pacientelst" [ngValue]="u.Contacto">{{u.MKNombre}}</option>
                                    </select> 
                                </div>
                                <div class="col-sm-3 form-group mb-4">
                                    <label>Doctor</label>
                                    <select class="form-control" name="doctor" formControlName="doctor" >  
                                        <option value="" disabled selected>Doctor</option>                        
                                        <option *ngFor="let u of doclst" [ngValue]="u.Contacto">{{u.MKNombre}}</option>
                                    </select> 
                                </div>  
                                <div class="col-sm-3 form-group mb-4">
                                    <label>Folio Editar</label>
                                     <input class="form-control form-control-air" type="text"  name="folioedit" placeholder="Editar" formControlName="folionew"   > 
                
                                </div>
                                <div class="col-sm-3 form-group mb-4">
                                    <label>Encuesta</label>
                                    <select class="form-control form-control-air" formControlName="encuesta" name="encuesta"  placeholder="Encuesta" >
                                            <option value="Anuncio Afuera">Anuncio Afuera</option>
                                            <option value="Conocido">Conocido</option>
                                            <option value="Internet">Internet</option>
                                            <option value="Recomendacion">Recomendacion</option>
                                            <option value="Medico">Medico</option>
                                            <option value="Otro">Otro</option>
                                            <option value="Periodico">Periodico</option>
                                            <option value="Radio">Radio</option>
                                            <option value="Television">Television</option>
                                            <option value="TV Azteca">TV Azteca</option>
                                            <option value="TV Televisa">TV Televisa</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 form-group mb-4">
                                    <label>Tipo Servicio</label>
                                    <select class="form-control form-control-air" name="tiposervicio" placeholder="Tipo Servicio" formControlName="tiposervicio">
                                        <option value="Ordinario" selected>Ordinario</option> 
                                        <option value="Urgente">Urgente</option>                                        
                                    </select>
                                </div>
                                <div class="col-sm-3 form-group mb-4">
                                    <label>Toma Muestra</label>
                                    <select class="form-control form-control-air" name="tomamuestra" placeholder="Muestra" formControlName="tomamuestra">
                                        <option value="Sucursal" selected>Sucursal</option> 
                                        <option value="Externa">Externa</option>                                        
                                    </select>
                                </div>         
                                <div class="col-sm-3 form-group mb-4">
                                    <label>Envio</label>
                                    <select class="form-control form-control-air" name="tipoenvio" placeholder="Envio" formControlName="tipoenvio">
                                        <option value="Indefinido" selected>Indefinido</option> 
                                        <option value="Email">Email</option>    
                                        <option value="Consultorio">Consultorio</option> 
                                        <option value="Ambos">Ambos</option> 						
                                    </select>
                                </div>                       
                            </div>
                        </form>
                    </div>                    
        </div>
      
        <div class="row">
                <div class="col-md-6"> 
                        <div class="ibox">
                             <div class="ibox-head">
                                    
                                            <div class="ibox-title">TOTAL : {{total | currency}}</div>
                                            <button class="btn btn-primary btn-rounded btn-air my-3" data-toggle="modal" (click)="mk_pagar()" >
                                                <span class="btn-icon"><i class="la la-plus"></i>Pagar</span>
                                            </button>
                                  

                            </div> 
                            <div class="ibox-body">
                                    <div class="table-responsive row">
                                            <table class="table table-bordered table-head-purple table-border-purple mb-5" id="tlbcomprados">
                                                <thead class="thead-default thead-lg">
                                                    <tr>
                                                        <th class="no-sort">#</th> 
                                                        <th>Producto</th>
                                                        <th>Cant</th>
                                                        <th>Precio</th>                         
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let u of detalle; let i = index">  
                                                        <td> 
                                                            <a class="text-muted font-16" (click)="mk_quitar(i)"><i class="ti-trash"></i></a>
                                                         </td>
                                                        <td class="text-left">( {{u.Articulo}} ) - {{u.Descripcion}} </td>  
                                                        <td class="text-center">{{u.MKCantidad}}</td>
                                                        <td class="text-right">{{u.pxcNeto | currency}}</td>
                                                </tr>
                                            </tbody>
                                    </table>
                                    </div>
                            </div>
                        </div>
                    </div>


            <div class="col-md-6"> 
                <div class="ibox">
                     <div class="ibox-head">

                                    <div class="input-group-icon input-group-icon-left mr-3">
                                        <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                                        <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Search ...">
                                        
                                    </div>
                    </div> 
                    <div class="ibox-body">
                            <div class="table-responsive row">
                                    <table class="table table-bordered table-hover" id="products-table">
                                        <thead class="thead-default thead-lg">
                                            <tr>
                                                <th class="no-sort">#</th> 
                                                <th>Estudios</th>
                                                <th>Precio</th>                         
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let u of artlst; let i = index">  
                                                <td>
                                                    <a class="text-muted font-16" (click)="mk_add(u.Articulo)"><i class="ti-shopping-cart"></i></a>
                                                </td>
                                                <td class="text-left">( {{u.Articulo}} ) - {{u.Descripcion}} </td>                             
                                                <td class="m-0 text-right">{{u.PrecioNeto | currency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                    </div>
                </div>
            </div>


        </div>


    </div> 
    <!-- END PAGE CONTENT-->


    <!-- <pre>{{formsolicitud.value | json}}</pre> -->
<!-- SESSION EDITAR ACTIVIDAD -->
<div class="modal fade" id="modal_pacientenew">
    <div class="modal-dialog" style="width:400px;" role="document">
        <div class="modal-content timeout-modal">
            <div class="modal-body">
                <button class="close" data-dismiss="modal" aria-label="Close"></button>
                <div class="text-center h4 mb-3">Paciente Nuevo</div>
                <br>
                 <div id="timeout-activate-box">
                    <form class="form-horizontal" id="formapago"  [formGroup]="pacienteforma" >
                        <div class="ibox-body">

                            <div class="form-group mb-4 row">
                                <label class="col-sm-2 col-form-label">Nombre</label>
                                <div class="col-sm-10">
                                    <input class="form-control form-control-air" type="text" name="nombre" formControlName="nombre" >
                                </div>
                            </div>
                            <div class="form-group mb-4 row">
                                <label class="col-sm-2 col-form-label">Paterno</label>
                                <div class="col-sm-10">
                                    <input class="form-control form-control-air" type="text" name="paterno" formControlName="paterno" >
                                </div>
                            </div> 
                            <div class="form-group mb-4 row">
                                <label class="col-sm-2 col-form-label">Materno</label>
                                <div class="col-sm-10">
                                    <input class="form-control form-control-air" type="text" name="materno" formControlName="materno" >
                                </div>
                            </div> 
                            <div class="form-group mb-4 row">
                                <label class="col-sm-2 col-form-label">Nacimiento</label>
                                <div class="col-sm-10">
                                    <input class="form-control form-control-air" type="date" name="nacimiento" formControlName="nacimiento"  >
                                </div>
                            </div>                             
                            <div class="form-group mb-4 row">
                                <label class="col-sm-2 col-form-label">Edad</label>
                                <div class="col-sm-10">
                                    <input class="form-control form-control-air" type="number" name="edad" formControlName="edad" [attr.disabled]="true" >
                                </div>
                            </div>     
                            <div class="form-group mb-4 row">
                                <label class="col-sm-2 col-form-label">Sexo</label>
                                <div class="col-sm-10">                                    
                                    <select class="form-control form-control-air" name="sexo"  formControlName="sexo">
                                        <option value="Hombre">Hombre</option> 
                                        <option value="Mujer">Mujer</option>                                        
                                    </select>
                                </div>
                            </div>   
                            <div class="form-group mb-4 row">
                                <label class="col-sm-2 col-form-label">Correo</label>
                                <div class="col-sm-10">
                                    <input class="form-control form-control-air" type="text" name="correo" formControlName="correo" >
                                </div>
                            </div> 
                            <div class="form-group mb-4 row">
                                    <label class="col-sm-2 col-form-label">Telefono</label>
                                    <div class="col-sm-10">
                                        <input class="form-control form-control-air" type="text" name="telefono" formControlName="telefono" >
                                    </div>
                                </div> 
                            <div class="form-group text-center">
                                <button class="btn btn-outline-success btn-fix btn-thick" (click)="mk_guardarpaciente()">
                                    <span class="btn-icon"><i class="ti-save"></i>Guardar</span>
                                </button>
                            </div>     
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END EDITAR ACTIVIDAD MODAL -->